@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #111827;
}

.max-80{
  max-height: 80vh;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  background: #585858;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}
